/* Estilos Gerais */
body {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('background4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para o Container */
.box {
    display: flex;
    flex-direction: column;
    background-color: rgba(52, 51, 51, 0.834);
    padding: 20px;
    border-radius: 15px;
    width: 70%;
    max-width: 700px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para Inputs */
.inputbox {
    position: relative;
    margin-bottom: 20px;  /* Margin para espaçamento */
    width: 100%;  /* Certifique-se de que todos os elementos ocupem 100% da largura */
}

.inputuser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    outline: none;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
    padding: 5px 0;  /* Padding interno para garantir alinhamento */
}

.labelinput {
    position: absolute;
    top: 10px;
    left: 0px;
    pointer-events: none;
    transition: 0.5s;
}

.inputuser:focus ~ .labelinput,
.inputuser:valid ~ .labelinput {
    top: -20px;
    font-size: 12px;
    color: #cf5904;
    font-weight: 600;
}

/* Estilos para Radio Inputs */
.input-radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-radio label {
    margin-left: 5px;
}

/* Outros Inputs */
#data_nascimento {
    border: none;
    padding: 5px;  /* Ajustar padding */
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 8px;
}

#submit {
    background-color: white;
    width: 100%;
    border: none;
    padding: 10px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; /* Ajusta a altura conforme o conteúdo */
    box-sizing: border-box; /* Inclui padding e borda no tamanho total */
    padding: 10px; /* Adiciona padding */
}

/* Media Queries para Dispositivos Móveis */
@media (max-width: 600px) {
    .box {
        width: 90%;
        padding: 15px;
        height: auto; /* Ajusta a altura conforme o conteúdo */
    }

    .inputuser,
    #data_nascimento,
    #submit {
        font-size: 18px;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto; /* Ajusta a altura conforme o conteúdo */
    }
}
