/* Estilos Gerais */
body {
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('background4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para o Container */
.box {
    display: flex;
    flex-direction: column;
    background-color: rgba(52, 51, 51, 0.834);
    padding: 20px;
    border-radius: 15px;
    width: 30%;
    max-width: 700px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para Inputs */
.inputbox {
    position: relative;
    margin-bottom: 20px; 
    width: 100%;  
}

.inputuser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    outline: none;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
    padding: 5px 0;  
}

.labelinput {
    position: absolute;
    top: 10px;
    left: 0px;
    pointer-events: none;
    transition: 0.5s;
}

.inputuser:focus ~ .labelinput,
.inputuser:valid ~ .labelinput {
    top: -10px;
    font-size: 12px;
    color: #cf5904;
    font-weight: 600;
}

/* Estilos para Radio Inputs */
.input-radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-radio label {
    margin-left: 5px;
}

/* Outros Inputs */
#data_nascimento {
    border: none;
    padding: 5px;  
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 8px;
}

#submit {
    background-color: white;
    width: 100%;
    border: none;
    padding: 10px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; 
    box-sizing: border-box; 
    padding: 10px; 
}

/* Media Queries para Dispositivos Móveis */
@media (max-height: 600px) {
    .box {
        width: 90%;
        padding: 15px;
        height: auto; 
    }

    .inputuser,
    #data_nascimento,
    #submit {
        font-size: 18px;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto; 
    }
}
